@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue/MaisonNeue-LightItalic.woff2') format('woff2'),
		url('../fonts/MaisonNeue/MaisonNeue-LightItalic.woff') format('woff'),
		url('../fonts/MaisonNeue/MaisonNeue-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue/MaisonNeue-Light.woff2') format('woff2'),
		url('../fonts/MaisonNeue/MaisonNeue-Light.woff') format('woff'),
		url('../fonts/MaisonNeue/MaisonNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue/MaisonNeue-Book.woff2') format('woff2'),
		url('../fonts/MaisonNeue/MaisonNeue-Book.woff') format('woff'),
		url('../fonts/MaisonNeue/MaisonNeue-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue/MaisonNeue-BookItalic.woff2') format('woff2'),
		url('../fonts/MaisonNeue/MaisonNeue-BookItalic.woff') format('woff'),
		url('../fonts/MaisonNeue/MaisonNeue-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue/MaisonNeue-Demi.woff2') format('woff2'),
		url('../fonts/MaisonNeue/MaisonNeue-Demi.woff') format('woff'),
		url('../fonts/MaisonNeue/MaisonNeue-Demi.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue/MaisonNeue-DemiItalic.woff2') format('woff2'),
		url('../fonts/MaisonNeue/MaisonNeue-DemiItalic.woff') format('woff'),
		url('../fonts/MaisonNeue/MaisonNeue-DemiItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
