@import '../../../../styles/abstracts/variables';

.contribution-new {
  &__actions {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    background: $white;
  }

  &__action {
    padding: 1rem 1.5rem; 

    &--left {
      width: 30%;
    }

    &--right {
      width: 70%;
    }
  }
}