@import '../../../../styles/abstracts/variables';

.search-select {
  display: flex;
  align-items: center;

  &__label {
    margin: 0 1rem 0 0;
    white-space: nowrap;
  }

  &__select {
    background-position: center right .6rem;
    background-image: url(../../../../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: 10px auto;
    appearance: none;
    padding-right: $spacer * 2.5!important;
    text-transform: capitalize;
  }
}