@import '../../../styles/abstracts/variables';

$form-top-line-height: 5px;

.project-new {
  &__steps {
    margin-top: $spacer * 4.5;
  }
  
  &__form {
    position: relative;
    background: #FFF;
    border-radius: $form-top-line-height;
    padding: 1.825rem 3rem;
    margin-right: 0;
    margin-left: auto;
  
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top-left-radius: $form-top-line-height;
      border-top-right-radius: $form-top-line-height;
      background: linear-gradient(to bottom right, #00EFE2 40%, #00E5F3);
      height: $form-top-line-height;
  
    }
  }
}

