@import '../../../../../styles/abstracts/variables';

.assignments-detail {
  flex-direction: column;
  display: flex;
  flex-grow: 1;

  &__fields {
    flex-grow: 1;
    padding: $slide-padding-box;
  }

  &__actions {
    display: flex;
  }

  &__action {
    padding: 1rem 1.5rem; 

    &--left {
      width: 30%;
    }

    &--right {
      width: 70%;
    }
  }
}