// Typography
//
$black: #000000;
$primary: #1DD9D5;
$secondary: #AEAEAE;

$font-family-base: 'Maison Neue', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$body-color:$black;
$body-bg: #F8FCFD;

$spacer: 1rem;
$font-size-base: 1rem;

$navbar-light-brand-color: #4A4A4A;
$navbar-light-brand-hover-color: $black;

$headings-font-weight: 700;
$form-group-margin-bottom: 1.75rem;

$text-muted: $secondary;

$border-radius: .15rem;
$border-radius-lg: .15rem;

$lead-font-size: $font-size-base * 1.125;

$input-padding-y:        0.4375rem;

$input-btn-padding-y-lg: 1rem;
$input-btn-font-size-lg: 1.2rem;

$input-focus-bg: #DFF3F7;
$input-focus-border-color: #2B6672;
$input-focus-box-shadow: none;

$btn-border-width: 0;
$btn-font-weight: 700;