// Typography
//
$font-family-base: overpass, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$body-color: #000000;

// Grid
//
$spacer: 1rem;
$grid-gutter-width: 2.5rem;

// Colors
//
$white: #FFFFFF;
$blue: #5B6CEF;
$primary: #00E7E2;
$box-shadow-color: #E8E8E8;
$gray-500: #9FA9AB;
$gray-600: #6D777B;
$gray-800: #333333;

// Borders
//
$border-color: #D1D1D1;

// Nav
//
$nav-width: 58px;
$nav-item-height: 41px;
$nav-item-color: #979797;
$nav-item-border-size: 4px;
$nav-item-svg-size: 16px;

// Height
//
$header-height: 65px;

// Table
//
$table-bg: transparent;
$table-border-width: 0;
$table-cell-padding: .65rem 1.25rem;
$table-head-bg: transparent;
$table-head-color: #6D777B;
