// Colors
//
$black: #000000;
$white: #FFFFFF;
$blue: #5B6CEF;
$primary: #00E7E2;
$light-blue: #F3F9FB;
$medium-blue: #DAEAEF;
$dark-emerald: #2B6672;

$gray-300: #DEE2E6;
$gray-400: #CED4DA;
$gray-500: #939FA1;
$gray-600: #6D777B;
$gray-800: #333333;

$success: #21D48E;
$danger: #FB7777;

$light: #B5B5B5;

$box-shadow-color: #E8E8E8;

// Typography
//
$font-family-base: overpass, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$body-color: #404040;
$headings-font-weight: 700;
$text-muted: #B5B5B5;
$small-font-size: .85rem;

// Grid
//
$spacer: 1rem;
$grid-gutter-width: 2.5rem;

// Borders
//
$border-color: #E8E8E8;
$border-radius: .15rem;

// Nav
//
$nav-width: 58px;
$nav-item-height: 41px;
$nav-item-color: $gray-600;
$nav-item-border-size: 4px;
$nav-item-svg-size: 16px;

// Height
//
$header-height: 65px;

// Table
//
$table-bg: transparent;
$table-border-width: 0;
$table-cell-padding: .65rem 1.25rem;
$table-head-bg: transparent;
$table-head-color: $gray-600;

// Buttons
$input-btn-padding-y: .55rem;
$input-btn-padding-x: .85rem;
$input-btn-font-size: .95rem;
// Input
//
$btn-border-width: 0;
$btn-font-weight: 700;
$input-padding-y: .25rem;
$input-padding-x: .9rem;
$input-focus-bg: $medium-blue;
$input-border-color: $medium-blue;
$input-focus-box-shadow: none;
$input-focus-border-color: $dark-emerald;

// Custom Form Controls
//
$custom-control-indicator-size: 1rem;
$custom-control-indicator-bg-size: 75% 75%;
$custom-control-indicator-checked-color: $primary;
$custom-control-label-disabled-color: $text-muted; 
$custom-control-indicator-bg: $light-blue;
$custom-control-indicator-checked-bg: $light-blue;
$custom-control-indicator-border-color: $medium-blue;
$custom-control-indicator-checked-border-color: $medium-blue;
$custom-control-indicator-disabled-bg: $light-blue;
$custom-control-indicator-checked-disabled-bg: $light-blue;

// Box
$box-margin-bottom: .85rem;

// Slide Panel
$slide-panel-width: 475px;
$slide-panel-z-index: 1035;
$slide-padding: 1.5rem;
$slide-padding-box: $slide-padding 3.5rem $slide-padding $slide-padding;