$cm-table-cell-padding: $spacer / 2;

.cm-table {
  font-weight: lighter;
  font-size: .9375rem;

  &__body {
    background: $white;
  }

  &__th {
    padding-top: $cm-table-cell-padding!important;
    padding-bottom: $cm-table-cell-padding / 2!important;
  }

  &__td, &__th {
    border-bottom: 1px solid $border-color!important;
  }

  &__td {
    vertical-align: middle!important;

    &:first-child {
      border-left: 1px solid $border-color;
    }

    &:last-child {
      border-right: 1px solid $border-color;
    }
  }
}