@import '../../../../../styles/abstracts/variables';

$cm-table-cell-padding: $spacer / 2;

$reward-font-color: #00879B;
$reward-amount-font-size: 1.4rem;
$reward-symbol-font-size: .9rem;

.assignment {
  &:first-child {
    margin-top: $box-margin-bottom;
  }

  &__head,
  &__body {
    display: flex;
  }

  &__head {
    padding: $cm-table-cell-padding $spacer $cm-table-cell-padding / 2 $spacer;
  }

  &__body {
    color: $body-color;

    &:hover {
      color: $body-color;
      text-decoration: none;
    }
  }

  &__info {
    flex: 1;
  }

  &__title {
    font-weight: lighter;
    font-size: 1.15rem;
  }

  &__states {
    font-size: $small-font-size;
    margin-top: $spacer / 2;
  }

  &__state:not(:last-child) {
    position: relative;
    padding-right: $spacer;

    &:after {
      content: '';
      position: absolute;
      border-right: 1px solid $border-color;
      top: 1px;
      bottom: 1px;
      right: $spacer / 2;
    }
  }

  &__domain,
  &__assigned {
    text-align: center;
    flex: 0 0 10rem;
  }

  &__reward {
    text-align: right;
    flex: 0 0 5rem;
  }
}

.reward {
  font-weight: bolder;
  color: $reward-font-color;
  font-size: $reward-symbol-font-size;

  &__amount {
    font-size: $reward-amount-font-size;
    margin-right: $spacer / 4;
  }

  &__symbol {
    text-transform: uppercase;
  }
}