@import '../../../../styles/abstracts/variables';

$thumbnail-size: 42px;
$thumbnail-small-size: 34px;

.rounded-image {
  border: 1px solid $blue;
  width: $thumbnail-size;
  height: $thumbnail-size;

  &--small {
    width: $thumbnail-small-size;
    height: $thumbnail-small-size;
  }
}